In [3]:
import pandas as pd
import numpy as np
from scipy import stats

from sklearn.base import clone
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import make_scorer
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
import warnings
warnings.filterwarnings('ignore')

### Clean Chess Dataset

rated: whether or not the game was a rated game

created_at: time at game start

turns: how many turns the game took

victory_status: whether the game ended with a timeout, resignation, or checkmate

white_rating: rating of the white player

black_rating: rating of the black player

opening_eco: code corresponding to the opening moves played

opening_ply: the length of the opening

In [4]:
# https://www.kaggle.com/datasnaek/chess
chess = pd.read_csv('Data/games.csv')
chess.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5

In [5]:
# standarize numerical columns
chess_num_cols = ['created_at', 'last_move_at', 'turns', 'white_rating', 'black_rating', 'opening_ply']
for num_col in chess_num_cols:
    chess[num_col] = (chess[num_col] - chess[num_col].mean()) /chess[num_col].std()

# create a new column called winner_white that is true if white wins, false otherwise
chess['winner_white'] = chess['winner'] == 'white'
chess = chess[['rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
                     'white_rating', 'black_rating', 'opening_eco', 'opening_ply', 'winner_white']]

In [6]:
chess_df_X = chess.drop(columns=['winner_white'])
chess_df_y = chess['winner_white']

In [7]:
# one-hot encode categorical columns
chess_X_cat_col = ['rated', 'victory_status', 'opening_eco']
chess_X = pd.get_dummies(columns=chess_X_cat_col, data=chess_df_X)

chess_y = chess_df_y.replace({True: 1, False: 0})

In [8]:
# 50.1396% negative instances, 49.8604% positive instances
chess_y.value_counts(normalize = True)

0    0.501396
1    0.498604
Name: winner_white, dtype: float64

### Clean Mushrooms Dataset

class: edible(e), poisonous(p)

cap-shape: bell(b), conical(c), convex(x), flat(f), knobbed(k), sunken(s)

cap-surface: fibrous(f), grooves(g), scaly(y), smooth(s)

cap-color: brown(n), buff(b), cinnamon(c), gray(g), green(r), pink(p), purple(u), red(e), white(w), yellow(y)

bruises: bruises(t), no(f)

odor: almond(a), anise(l), creosote(c), fishy(y), foul(f), musty(m), none(n), pungent(p), spicy(s)

gill-attachment: attached(a), descending(d), free(f), notched(n)

gill-spacing: close(c), crowded(w), distant(d)

gill-size: broad(b), narrow(n)

gill-color: black(k), brown(n), buff(b), chocolate(h), gray(g), green(r), orange(o), pink(p), purple(u), red(e), white(w), yellow(y)

stalk-shape: enlarging(e), tapering(t)

stalk-root: bulbous(b), club(c), cup(u), equal(e), rhizomorphs(z), rooted(r), missing(?)

stalk-surface-above-ring: fibrous(f), scaly(y), silky(k), smooth(s)

stalk-surface-below-ring: fibrous(f), scaly(y), silky(k), smooth(s)

stalk-color-above-ring: brown(n), buff(b), cinnamon(c), gray(g), orange(o), pink(p), red(e), white(w), yellow(y)

stalk-color-below-ring: brown(n), buff(b), cinnamon(c), gray(g), orange(o), pink(p), red(e), white(w), yellow(y)

veil-type: partial(p), universal(u)

veil-color: brown(n), orange(o), white(w), yellow(y)

ring-number: none(n), one(o), two(t)

ring-type: cobwebby(c), evanescent(e), flaring(f), large(l), none(n), pendant(p), sheathing(s), zone(z)

spore-print-color: black(k), brown(n), buff(b), chocolate(h), green(r), orange(o), purple(u), white(w), yellow(y)

population: abundant(a), clustered(c), numerous(n), scattered(s), several(v), solitary(y)

habitat: grasses(g), leaves(l), meadows(m), paths(p), urban(u), waste(w), woods(d)

In [9]:
# https://www.kaggle.com/uciml/mushroom-classification
shrooms = pd.read_csv('Data/mushrooms.csv')
shrooms.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [10]:
shrooms_df_X = shrooms.drop(columns=['class'])
shrooms_df_y = shrooms['class']

In [11]:
shrooms_X = pd.get_dummies(data=shrooms_df_X)
shrooms_y = shrooms_df_y.replace({'e': 0, 'p': 1})

In [12]:
# 51.8% negative instances, 48.2% positive instances
shrooms_y.value_counts(normalize = True)

0    0.517971
1    0.482029
Name: class, dtype: float64

### Clean Cardio Dataset

Retrieved from the kaggle site https://www.kaggle.com/sulianova/cardiovascular-disease-dataset, this cardio dataset has 70000 samples and 12 variables, which were collected at the moment of medical examination. It contains a target variable that indicates the presence or absence of cardiovascular disease, as well as 11 features that might be associated with the presence of cardiovascular disease, such as age, gender, and blood pressure. There are 3 types of 11 input features:
- objective feature: factual information
- examination feature: results of medical examination
- subjective feature: information given by the patient

A more detailed description of 11 features are shown below:

- age: objective feature, int (days)
- height: objective feature, int (cm)
- weight: objective feature, float (kg)
- gender: objective feature, categorical code, 1: male, 2:female
- ap_hi: systolic blood pressure, examination feature, int
- ap_lo: diastolic blood pressure, examination feature, int
- cholesterol: examination feature, categorical code, 1: normal, 2: above normal, 3: well above normal
- gluc: glucose, examination feature, categorical code, 1: normal, 2: above normal, 3: well above normal
- smoke: subjective feature, binary, 0: do not smoke, 1: smoke
- alco: alcohol intake, subjective feature, binary, 0: do not drink alcohol, 1: drink alcohol
- active: physical activity, subjective feature, binary, 0: not physically active, 1: physically active

A detailed description of the target variable is shown below: 

- cardio: presence or absence of cardiovascular disease, binary, 0: disease not present, 1: disease present

For this dataset, we want use those 11 input features and apply machine learning algorithms to predict whether a person has cardiovascular disease or not.

In [13]:
# load the cardio dataset
cardio = pd.read_csv('data/cardio.csv', delimiter = ';')
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [14]:
# no missing values in cardio dataset
cardio.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [15]:
# drop unnecessary column "id"
cardio = cardio.drop(columns = ['id'])
# convert age in days to age in years
cardio['age'] = cardio['age'].apply(lambda x: int(x/365))

In [16]:
# one hot encoding categorical input features stored in cate_cols
cardio_cate_cols = ['gender', 'cholesterol', 'gluc', 'smoke', 'alco', 'active']
cardio = pd.get_dummies(columns = cardio_cate_cols, data = cardio)

In [17]:
# scale numerical attributes to 0 mean 1 std
cardio_num_cols = ['age', 'height', 'weight', 'ap_hi', 'ap_lo']
for num_col in cardio_num_cols:
    cardio[num_col] = (cardio[num_col] - cardio[num_col].mean()) / cardio[num_col].std()

In [18]:
# 50.03% negative labels, 49.97% positive labels
cardio['cardio'].value_counts(normalize = True)

0    0.5003
1    0.4997
Name: cardio, dtype: float64

In [19]:
# split the cardio dataset into input features and labels 
cardio_X = cardio.drop(columns=['cardio']) # input features
cardio_y = cardio['cardio'] # true lables

### Clean Rain Dataset

Retrieved from the kaggle site https://www.kaggle.com/jsphyg/weather-dataset-rattle-package, this Rain in Australia dataset contains about 10 years of daily weather observations from many locations across Australia. There are 145460 samples and 23 variables in this dataset. It contains a target variable that indicates whether it rained the next day, as well as 22 features that might be associated with the target variable, such as minimum temperature, maximum temperature, rainfall of the day.

A more detailed description of 22 features are shown below:

- Date: the date of observation
- Location: the common name of the location of the weather station
- MinTemp: the minimum temperature in degrees celsius
- MaxTemp: the maximum temperature in degrees celsius
- Rainfall: the amount of rainfall recorded for the day in mm
- Evaporation: the so-called Class A pan evaporation (mm) in the 24 hours to 9am
- Sunshine: the number of hours of bright sunshine in the day
- WindGustDir: the direction of the strongest wind gust in the 24 hours to midnight
- WindGustSpeed: the speed (km/h) of the strongest wind gust in the 24 hours to midnight
- WindDir9am: direction of the wind at 9am
- WindDir3pm: direction of the wind at 3pm
- WindSpeed9am: wind speed (km/hr) averaged over 10 minutes prior to 9am
- WindSpeed3pm: wind speed (km/hr) averaged over 10 minutes prior to 3pm
- Humidity9am: humidity (percent) at 9am
- Humidity3pm: humidity (percent) at 3pm
- Pressure9am: atmospheric pressure (hpa) reduced to mean sea level at 9am
- Pressure3pm: atmospheric pressure (hpa) reduced to mean sea level at 3pm
- Cloud9am: fraction of sky obscured by cloud at 9am. This is measured in "oktas", which are a unit of eigths. It records how many eigths of the sky are obscured by cloud. A 0 measure indicates completely clear sky whilst an 8 indicates that it is completely overcast
- Cloud3pm: fraction of sky obscured by cloud (in "oktas": eighths) at 3pm. See Cload9am for a description of the values
- Temp9am: temperature (degrees C) at 9am
- Temp3pm: temperature (degrees C) at 3pm
- RainToday: whether the precipitation (mm) in the 24 hours to 9am exceeded 1mm, Yes: the precipitation exceeded 1mm, No: it did not exceed 1mm

A detailed description of the target variable is shown below: 

- RainTomorrow: whether amount of next day rain exceeded 1mm, Yes: next day precipitation exceeded 1mm, No: it did not exceed 1mm

For this dataset, we want use those 22 input features and apply machine learning algorithms to predict whether it rained the next day or not.

Data source: http://www.bom.gov.au/climate/dwo/ and http://www.bom.gov.au/climate/data.

In [20]:
# load Australian rain dataset
aus = pd.read_csv('Data/weatherAUS.csv')
aus.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [21]:
# display the number of missing values in each column
aus.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [22]:
# fill missing values in categorical columns with the mode 
aus_cate_cols = aus.dtypes.index[aus.dtypes == "object"].tolist()
for cate_col in aus_cate_cols:
    aus[cate_col] = aus[cate_col].fillna(aus[cate_col].mode()[0])

In [23]:
# fill missing values in numerical columns with the mean
aus_num_cols = aus.dtypes.index[aus.dtypes == "float64"].tolist()
for num_col in aus_num_cols:
    aus[num_col] = aus[num_col].fillna(aus[num_col].mean())
    # scale numerical attributes to 0 mean 1 std
    aus[num_col] = (aus[num_col] - aus[num_col].mean()) / aus[num_col].std()

In [24]:
# all missing values are filled
aus.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [25]:
# split the date of each observation into year, month, and day
splitted_date = aus['Date'].str.split('-')

# create 'Year', 'Month', 'Day' columns using splitted results of the date
aus['Year'] = splitted_date.str[0].astype(int)
aus['Month'] = splitted_date.str[1].astype(int)
aus['Day'] = splitted_date.str[2].astype(int)

# drop original 'Date' column
aus = aus.drop(columns = ['Date'])

In [26]:
# use 0 and 1 to indicate whether it rained or not
# 0: it rained, 1: it did not rain
aus['RainToday'] = aus['RainToday'].replace({'No': 0, 'Yes': 1})
aus['RainTomorrow'] = aus['RainTomorrow'].replace({'No': 0, 'Yes': 1})

In [27]:
# one hot encoding all categorical columns
cate_cols = aus.dtypes.index[aus.dtypes == "object"].tolist()
aus = pd.get_dummies(columns = cate_cols, data = aus)

In [28]:
# 78.0854% negative labels, 21.9146% positive labels
aus['RainTomorrow'].value_counts(normalize = True)

0    0.780854
1    0.219146
Name: RainTomorrow, dtype: float64

In [29]:
# split the rain dataset into input features and labels 
aus_X = aus.drop(columns=['RainTomorrow']) # input features
aus_y = aus['RainTomorrow'] # true lables

### Clean BnB Dataset

The dataset is from https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data?select=AB_NYC_2019.csv, and contains data from AirBnB listing and metrics in New York City, New York for the year 2019. There are 47900 unique values and 8 predictive variables in this dataset, in which we will be using different features to predict whether an AirBnB pricing is expensive or not. This makes the price variable the target variable of our data. 

A more detailed description of 7 features are shown below:

- neighbourhood_group: location, str
- latitude: latitude coordinates, int
- longitude: longitude coordinates, int
- room_type: listing space type, str
- minimum_nights: amount of nights minimum, int
- number_of_reviews: number of reviews, int
- availability_365: number of days when listing is available for booking, int

A detailed description of the target variable is shown below:

- price: price in USD, int

For this dataset, we want use these 7 input features and apply machine learning algorithms to predict whether the AirBnb price is expensive or not.

In [30]:
# load the AirBnb dataset
airbnb = pd.read_csv('data/AB_NYC_2019.csv')
airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [31]:
# We will be looking at these features of the AirBnB for our predictive model
airbnb = airbnb[['neighbourhood_group','latitude','longitude','room_type', 'price',
                       'minimum_nights','number_of_reviews','availability_365']]

In [32]:
# The price median will be the threshold for our expensive classifier
airbnb['price'].median()

106.0

In [33]:
# Creating a new variable called 'is_expensive' that labels prices greater than the median as True, 
# lesser than the median as False
airbnb = airbnb.assign(
    is_expensive = airbnb.get('price') > 106.0
)
airbnb.head()

,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,availability_365,is_expensive
0,Brooklyn,40.64749,-73.97237,Private room,149,1,9,365,True
1,Manhattan,40.75362,-73.98377,Entire home/apt,225,1,45,355,True
2,Manhattan,40.80902,-73.94190,Private room,150,3,0,365,True
3,Brooklyn,40.68514,-73.95976,Entire home/apt,89,1,270,194,False
4,Manhattan,40.79851,-73.94399,Entire home/apt,80,10,9,0,False

In [34]:
# Drop the price column
airbnb = airbnb.drop(columns = ['price'])

In [35]:
# Scale numerical attributes to 0 mean 1 std
airbnb_num_cols = ['latitude', 'longitude', 'minimum_nights', 'number_of_reviews','availability_365']
for num_col in airbnb_num_cols:
    airbnb[num_col] = (airbnb[num_col] - airbnb[num_col].mean()) / airbnb[num_col].std()

In [36]:
# 50.05% negative labels, 49.95% positive labels
airbnb['is_expensive'].value_counts(normalize = True)

False    0.500501
True     0.499499
Name: is_expensive, dtype: float64

In [37]:
# split data into input features and labels
airbnb_df_X = airbnb.drop(columns=['is_expensive'])
airbnb_df_y = airbnb['is_expensive']

In [38]:
# one hot encoding for the categorical columns
airbnb_X_cat_col = ['neighbourhood_group', 'room_type']
airbnb_X = pd.get_dummies(columns=airbnb_X_cat_col, data=airbnb_df_X)

airbnb_y = airbnb_df_y.replace({True: 1, False: 0})

### Clean Olympic Dataset

The dataset is from https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results?select=athlete_events.csv, and includes historic data of all participants from the Olympic Games, from Athens 1896 to Rio 2016. There are 271116 unique values/observations. We want to see whether or not we can predict a gold medalist from all the medalists just by using participants' features. We use the 'Medal' column as our target variable for our dataset.

A more detailed description of 6 features are shown below:

- Sex: M or F, str 
- Age: age, int
- Height: in centimeters, int
- Weight: in kilgrams, int
- NOC: National Olympic Committee 3-letter code, str
- Sport: sport, str

A detailed description of the target variable is shown below:

- Medal: Gold, Silver, Bronze, or NA, str

For this dataset, we want use these 6 input features and apply machine learning algorithms to predict whether an Olympian is a gold medalist or not.

In [39]:
# load the Olympic dataset
olympic = pd.read_csv('data/athlete_events.csv')
olympic.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [40]:
# We only care about the medalists out of all Olympians, so we want to drop the NaN values in 'Medal'
olympic[olympic['Medal'].isnull()].shape

(231333, 15)

In [41]:
# drop null medal values from dataset
olympic = olympic[olympic['Medal'].notnull()]
olympic.shape

(39783, 15)

In [42]:
# These are the features we will be looking at for our classifier
olympic = olympic[['Sex', 'Age','Height','Weight','NOC','Sport','Medal']]

In [43]:
# This removes the NaN values from the numerical columns
olympic = olympic[olympic['Height'].notna()]
olympic = olympic[olympic['Weight'].notna()]
olympic = olympic[olympic['Age'].notna()]
olympic.head()

   Sex   Age  Height  Weight  NOC       Sport   Medal
40   M  28.0   184.0    85.0  FIN  Ice Hockey  Bronze
41   M  28.0   175.0    64.0  FIN  Gymnastics  Bronze
42   M  28.0   175.0    64.0  FIN  Gymnastics    Gold
44   M  28.0   175.0    64.0  FIN  Gymnastics    Gold
48   M  28.0   175.0    64.0  FIN  Gymnastics    Gold

In [44]:
# After that cleaning, we are left with 30181 participants to work with
olympic.shape

(30181, 7)

In [45]:
# We want to make a column to see if the participant is a Gold Medalist
olympic['Gold'] = olympic['Medal']=='Gold'

In [46]:
# We no longer need the Medal column
olympic = olympic.drop(columns=['Medal'])

In [47]:
# Scale numerical attributes to 0 mean 1 std
olympic_num_cols = ['Age', 'Height', 'Weight']
for num_col in olympic_num_cols:
    olympic[num_col] = (olympic[num_col] - olympic[num_col].mean()) / olympic[num_col].std()

In [48]:
# 66.31% negative labels, 33.68% positive labels
olympic['Gold'].value_counts(normalize = True)

False    0.663132
True     0.336868
Name: Gold, dtype: float64

In [49]:
# split the olympic dataset into input features and labels
olympic_df_X = olympic.drop(columns=['Gold'])
olympic_df_y = olympic['Gold']

In [50]:
# one hot encode all the categorical columns
olympic_X_cat_col = ['Sex','NOC','Sport']
olympic_X = pd.get_dummies(columns=olympic_X_cat_col, data=olympic_df_X)
olympic_y = olympic_df_y.replace({True: 1, False: 0})

### Perform Trials

In [51]:
# Parameters for the model
tree_params = [
    {
        'max_depth': [2,3,4,5,7,10,13,15,18,None], 
        'min_samples_split':[2,3,5,7,10,15,20],
        'min_samples_leaf':[2,3,5,7,10,15,20]
    }
]

log_reg_params = [        
    {
        'solver': ['lbfgs'],
        'max_iter': [5000],
        'penalty': ['l2'],
        'C': 10**np.arange(-4, 5, 1, dtype='float32')
    },
    {
        'solver': ['saga'],
        'max_iter': [5000],
        'penalty': ['l1', 'l2'],
        'C': 10**np.arange(-4, 5, 1, dtype='float32')
    },
    {
        'solver': ['saga', 'lbfgs'],
        'max_iter': [5000],
        'penalty': ['none']
    }
]

perceptron_params = [
    {
        'penalty': ['l1', 'l2', 'elasticnet', 'none'],
        'alpha': [0.00001, 0.0001, 0.001, 0.01, 0.1]
    }
]

svc_params = [
    {
        'kernel': ['linear'],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32')
    },
    {
        'kernel': ['poly'],
        'degree': [2, 3],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32'),
    },
    {
        'kernel': ['rbf'],
        'C': 10 **np.array(np.arange(-3, 2, 2), dtype='float32'),
        'gamma': [0.001,0.01,0.1,1,2]
    }
]

knn_params = [
    {
        'n_neighbors': np.arange(1, 106, 4),
        'metric': ["euclidean", "manhattan", "minkowski"]
    }
]

forest_params = [
    {
        'n_estimators': [1024],
        'min_samples_split': [1, 2, 4, 6, 8, 12, 16, 20]
    }
]

# models that do not include SVM classifier
models_without_svm = {
    'DT': (DecisionTreeClassifier(), tree_params),
    'LOGREG': (LogisticRegression(), log_reg_params),
    'PERC': (Perceptron(), perceptron_params),
    'KNN': (KNeighborsClassifier(), knn_params),
    'RF': (RandomForestClassifier(), forest_params)
}

# SVM model
models_only_svm = {
    'SVM': (SVC(), svc_params)
}

In [52]:
models = np.sort(list(models_without_svm.keys()) + list(models_only_svm.keys())).tolist()

scoring = {
        'ACC': make_scorer(accuracy_score),
        'PREC': make_scorer(precision_score),
        'REC': make_scorer(recall_score),
        'SPEC': make_scorer(recall_score, pos_label=0),
        'F1': make_scorer(f1_score),
        'ROC': make_scorer(roc_auc_score),
    }

results_columns = ['DATASET', 'MODEL', 'TRIAL'] + ["TRAIN_" + x for x 
                                                   in list(scoring.keys())] + ["TEST_" + x for x in list(scoring.keys())]

In [52]:
# perform 7 trials using each of 6 algorithms on one dataset
def perform_trials(dataset_name, models, data_X, data_y):
    
    num_trials = 7
    
    data_results = pd.DataFrame(columns=results_columns)

    for model_name in models.keys():
        model = models[model_name][0]        
        model_params_grid = models[model_name][1]
        model_results = pd.DataFrame(columns=results_columns)
        
        # perform 7 trials using each model on the dataset
        for trial_count in range(num_trials):
            # pick 5000 samples with replacement to be in the training set
            X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, 
                                                                train_size=5000, 
                                                                random_state=trial_count)
            
            # grid search with 5 k-folds
            search = GridSearchCV(model, model_params_grid, cv=5, verbose=3,
                                  n_jobs=-1, refit=False, scoring=scoring)
            
            # fit grid search model with training set
            search.fit(X_train, y_train)
            
            # store 7 metrics calculated in one trial
            model_result = {
                'DATASET': dataset_name,
                'MODEL': model_name,
                'TRIAL': trial_count + 1
            }
            
            for score_name in scoring.keys():
                # find the best parameters that make model achieves best score of the metric
                best_params = search.cv_results_['params'][np.argmin(search.cv_results_['rank_test_' + score_name])]
                # use best parameters to create the optimal model for the metric
                best_model = clone(model).set_params(**best_params)
                # train the optimal model
                best_model.fit(X_train, y_train)
                
                # compute metrics
                train_score = scoring[score_name](best_model, X_train, y_train)
                test_score = scoring[score_name](best_model, X_test, y_test)

                # append scores
                model_result['TRAIN_' + score_name] = train_score
                model_result['TEST_' + score_name] = test_score
            
            # append scores of one trial to the model_results dataframe
            model_results = model_results.append(model_result, ignore_index=True)
        
        # append model_results to data_results
        data_results = data_results.append(model_results, ignore_index=True)
        
        # store scores averaged over 7 trials
        avg_result = {
            'DATASET': dataset_name,
            'MODEL': model_name,
            'TRIAL': 'avg',
            
            'TRAIN_ACC': model_results.train_accuracy.mean(),
            'TRAIN_PREC': model_results.train_precision.mean(),
            'TRAIN_REC': model_results.train_recall.mean(),
            'TRAIN_SPEC': model_results.train_specificity.mean(),
            'TRAIN_F1': model_results.train_f1.mean(),
            'TRAIN_ROC': model_results.train_roc_auc.mean(),
            
            'TEST_ACC': model_results.test_accuracy.mean(),
            'TEST_PREC': model_results.test_precision.mean(),
            'TEST_REC': model_results.test_recall.mean(),
            'TEST_SPEC': model_results.test_specificity.mean(),
            'TEST_F1': model_results.test_f1.mean(),
            'TEST_ROC': model_results.test_roc_auc.mean()
        }
        
        # append avg_result to the data_results dataframe
        data_results = data_results.append(avg_result, ignore_index=True)
    
    return data_results

### Chess Results

In [ ]:
chess_results_no_svm = perform_trials('chess', models_without_svm, chess_X, chess_y)
chess_results_no_svm.to_csv('results/chess_no_svm.csv', index = False)
chess_results_no_svm

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   22.3s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   46.1s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   17.4s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   32.1s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:   54.1s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.0min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    3.7s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   17.8s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   33.3s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:   54.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.0min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 112 tasks      | elapsed:    2.5s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:   27.9s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   41.2s
[Parallel(n_jobs=-1)]: Done 2032 tasks      | elapsed:   55.6s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.1min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.3s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    4.2s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   20.6s
[Parallel(n_jobs=-1)]: Done 1552 tasks      | elapsed:   37.9s
[Parallel(n_jobs=-1)]: Done 2256 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 29 candidates, totalling 145 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.9s

In [ ]:
chess_results_svm = perform_trials('chess', models_only_svm, chess_X, chess_y)
chess_results_svm.to_csv('results/chess_svm.csv', index = False)
chess_results_svm

In [78]:
chess_results_no_svm = pd.read_csv('results/chess_no_svm.csv')
chess_results_svm = pd.read_csv('results/chess_svm.csv')

In [79]:
chess_results = chess_results_no_svm.append(chess_results_svm, ignore_index=True)
chess_results.to_csv('results/chess.csv', index = False)

### Shrooms Results

In [59]:
shrooms_results_no_svm = perform_trials('shrooms', models_without_svm, shrooms_X, shrooms_y)
shrooms_results_no_svm.to_csv('results/shrooms_no_svm.csv', index = False)
shrooms_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    2.2s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   16.6s finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    2.3s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:    6.7s
[Parallel(n_jobs=-1)]: Done 1904 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   16.5s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,train_log_loss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc,test_log_loss
0,shrooms,tree,1,1.0000,1.0,1.000000,1.0,1.000000,1.000000,1.554272,1.000000,1.0,1.000000,1.0,1.000000,1.000000,1.625254
1,shrooms,tree,2,0.9994,1.0,0.998750,1.0,0.999375,0.999375,1.574997,0.998399,1.0,0.996702,1.0,0.998348,0.998351,1.592083
2,shrooms,tree,avg,0.9997,1.0,0.999375,1.0,0.999687,0.999688,1.564635,0.999200,1.0,0.998351,1.0,0.999174,0.999175,1.608669

In [ ]:
shrooms_results_svm = perform_trials('shrooms', models_only_svm, shrooms_X, shrooms_y)
shrooms_results_svm.to_csv('results/shrooms_svm.csv', index = False)
shrooms_results_svm

In [81]:
shrooms_results_no_svm = pd.read_csv('results/shrooms_no_svm.csv')
shrooms_results_svm = pd.read_csv('results/shrooms_svm.csv')

In [82]:
shrooms_results = shrooms_results_no_svm.append(shrooms_results_svm, ignore_index=True)
shrooms_results.to_csv('results/shrooms.csv', index = False)

### Results of Cardio Dataset

In [51]:
# running algorithms except SVM on cardio dataset
cardio_results_no_svm = perform_trials('cardio', models_without_svm, cardio_X, cardio_y)
cardio_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc
0,cardio,tree,1,0.727200,0.769610,0.657407,0.814388,0.705400,0.726756,0.718092,0.760048,0.651762,0.803292,0.698032,0.718082
1,cardio,tree,2,0.730800,0.825455,0.771586,0.884584,0.736182,0.730678,0.716569,0.823521,0.757578,0.888329,0.717287,0.716578
2,cardio,tree,3,0.727600,0.773550,0.721763,0.817405,0.738914,0.728793,0.723985,0.753861,0.691874,0.803083,0.711474,0.723870
3,cardio,tree,4,0.737200,0.787893,0.746233,0.823245,0.724413,0.737665,0.724569,0.761494,0.689312,0.797068,0.713895,0.724521
4,cardio,tree,5,0.735000,0.797519,0.734182,0.807801,0.743664,0.735456,0.726877,0.775533,0.706000,0.803805,0.711856,0.726788
5,cardio,tree,6,0.734800,0.747525,0.732354,0.799922,0.720253,0.734063,0.731446,0.761724,0.673020,0.804416,0.720963,0.731479
6,cardio,tree,7,0.741400,0.784314,0.714229,0.819456,0.748012,0.741457,0.722631,0.772991,0.659143,0.811395,0.695081,0.722577
7,cardio,tree,avg,0.733429,0.783695,0.725393,0.823829,0.730977,0.733553,0.723453,0.772739,0.689813,0.815913,0.709798,0.723414
8,cardio,log_reg,1,0.729200,0.760739,0.000000,1.000000,0.708817,0.728782,0.726646,0.757817,0.000000,1.000000,0.708874,0.726637
9,cardio,log_reg,2,0.652000,0.661729,1.000000,0.658646,0.688273,0.652064,0.647785,0.649235,1.000000,0.661212,0.681556,0.647767
10,cardio,log_reg,3,0.728000,0.763263,1.000000,0.784059,0.715838,0.728898,0.726769,0.747150,1.000000,0.769117,0.714479,0.726690
11,cardio,log_reg,4,0.652800,0.668092,1.000000,0.686844,0.669090,0.653097,0.649785,0.656718,1.000000,0.673785,0.669713,0.649753
12,cardio,log_reg,5,0.727200,0.751857,1.000000,1.000000,0.716300,0.727424,0.725615,0.744387,1.000000,1.000000,0.713106,0.725577
13,cardio,log_reg,6,0.721600,0.749176,0.649531,0.000000,0.695804,0.720215,0.725308,0.759396,0.660293,0.000000,0.706385,0.725364
14,cardio,log_reg,7,0.658200,0.674133,0.640288,1.000000,0.642394,0.658236,0.665477,0.679728,0.660621,1.000000,0.651181,0.665448
15,cardio,log_reg,avg,0.695571,0.718427,0.755688,0.732793,0.690931,0.695531,0.695341,0.713490,0.760131,0.729159,0.692185,0.695319
16,cardio,perceptron,1,0.659600,0.813711,0.937198,0.652623,0.679807,0.658186,0.658831,0.820899,0.930943,0.645531,0.682359,0.658796
17,cardio,perceptron,2,0.538600,0.807792,1.000000,0.970228,0.680869,0.530236,0.532185,0.827289,1.000000,0.975099,0.674746,0.533118
18,cardio,perceptron,3,0.716800,0.785208,0.000000,0.783652,0.000000,0.718423,0.713646,0.765788,0.000000,0.764572,0.000000,0.713475
19,cardio,perceptron,4,0.533800,0.814642,0.676447,0.424536,0.689242,0.529904,0.523138,0.806657,0.686447,0.411917,0.687096,0.523739
20,cardio,perceptron,5,0.502400,0.842105,0.000000,0.966224,0.639817,0.499818,0.499677,0.823896,0.000000,0.962624,0.655747,0.500197
21,cardio,perceptron,6,0.709800,0.747525,0.977152,0.799922,0.675464,0.707998,0.714185,0.761628,0.981616,0.804293,0.686119,0.714262
22,cardio,perceptron,7,0.570600,0.768566,0.730216,0.946357,0.301020,0.570834,0.584415,0.765193,0.712289,0.945946,0.308886,0.584213
23,cardio,perceptron,avg,0.604514,0.797079,0.617288,0.791935,0.523746,0.602200,0.603725,0.795907,0.615899,0.787140,0.527850,0.603971
24,cardio,knn,1,0.688400,0.708935,0.665862,0.748808,0.668511,0.688044,0.662446,0.682355,0.608432,0.749792,0.642847,0.662438
25,cardio,knn,2,0.676200,0.696905,0.645212,0.708401,0.670063,0.676807,0.664385,0.674974,0.631371,0.696583,0.652445,0.664315
26,cardio,knn,3,0.690600,0.698636,0.679260,0.730378,0.680570,0.691301,0.662262,0.685064,0.629046,0.719796,0.650257,0.662198
27,cardio,knn,4,0.672400,0.702938,0.683584,0.738095,0.689072,0.672980,0.661662,0.679177,0.620513,0.718158,0.641689,0.661595
28,cardio,knn,5,0.683600,0.704795,0.668524,0.738641,0.669041,0.683841,0.663508,0.677895,0.630013,0.714237,0.646774,0.663464
29,cardio,knn,6,0.668200,0.687437,0.658507,0.755983,0.631415,0.666500,0.660585,0.700069,0.593427,0.758407,0.628160,0.660660
30,cardio,knn,7,0.679600,0.700187,0.639888,0.743395,0.662453,0.679641,0.665154,0.693144,0.616159,0.737847,0.645988,0.665116
31,cardio,knn,avg,0.679857,0.699976,0.662977,0.737672,0.667303,0.679873,0.662857,0.684668,0.618423,0.727831,0.644023,0.662827
32,cardio,forest,1,0.813800,0.822480,0.816425,0.829889,0.825972,0.817108,0.729569,0.737915,0.711433,0.746347,0.723388,0.729567
33,cardio,forest,2,0.834000,0.847025,0.848901,0.834013,0.857086,0.835635,0.727492,0.733568,0.712744,0.744266,0.721142,0.727279
34,cardio,forest,3,0.820000,0.845248,0.963400,0.850752,0.816741,0.820090,0.728277,0.735431,0.711049,0.742338,0.723784,0.728616
35,cardio,forest,4,0.844000,0.862226,0.992466,0.865214,0.843788,0.844575,0.724969,0.729244,0.715870,0.736318,0.721016,0.724985
36,cardio,forest,5,0.812600,0.819579,0.823717,0.821070,0.811169,0.812635,0.728646,0.731169,0.723249,0.735969,0.726375,0.728747
37,cardio,forest,6,0.827400,0.844618,0.773154,0.859553,0.817454,0.827150,0.729246,0.748371,0.692327,0.766014,0.718752,0.729662
38,cardio,forest,7,0.823200,0.837083,0.921263,0.842274,0.818904,0.823614,0.729769,0.744224,0.699788,0.761184,0.720286,0.729563
39,cardio,forest,avg,0.825000,0.839751,0.877047,0.843252,0.827302,0.825829,0.728281,0.737131,0.709494,0.747491,0.722106,0.728346

In [52]:
# running SVM algorithm on cardio dataset, generally take longer time to run than other algorithms combined
cardio_results_svm = perform_trials('cardio', models_only_svm, cardio_X, cardio_y)
cardio_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc
0,cardio,svm,1,0.737200,0.805755,0.814412,1.000000,0.719471,0.736826,0.727600,0.808387,0.800369,1.000000,0.710771,0.727591
1,cardio,svm,2,0.733200,0.748567,1.000000,0.760604,0.732665,0.733509,0.726415,0.733427,0.999784,0.757929,0.721300,0.726380
2,cardio,svm,3,0.737000,0.785714,1.000000,0.824319,0.726668,0.737818,0.727262,0.773072,0.999630,0.813709,0.716606,0.727192
3,cardio,svm,4,0.735000,0.777726,1.000000,0.802260,0.741597,0.735625,0.727154,0.752055,0.999969,0.786744,0.710793,0.727087
4,cardio,svm,5,0.734400,0.770219,1.000000,0.805790,0.725506,0.734588,0.725523,0.765986,1.000000,0.802022,0.715822,0.725488
5,cardio,svm,6,0.728400,0.776371,0.821297,1.000000,0.704654,0.727103,0.727862,0.784359,0.813484,1.000000,0.709144,0.727918
6,cardio,svm,7,0.738600,0.903614,1.000000,0.996797,0.724668,0.738641,0.728046,0.831545,1.000000,0.995173,0.712434,0.728008
7,cardio,svm,avg,0.734829,0.795424,0.947959,0.884253,0.725033,0.734873,0.727123,0.778404,0.944748,0.879368,0.713838,0.727095

In [53]:
# combine results of svm and non-svm algorithms and save as a csv file
cardio_final_results = cardio_results_no_svm.append(cardio_results_svm, ignore_index=True)
cardio_final_results.to_csv('results/cardio_results.csv', index = False)

### Results of Australian Rain Dataset

In [55]:
# running algorithms except SVM on Australian rain dataset
aus_results_no_svm = perform_trials('aus', models_without_svm, aus_X, aus_y)
aus_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 490 candidates, totalling 2450 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 29 candidates, totalling 145 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 20 candidates, totalling 100 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 81 candidates, totalling 405 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits
Fitting 5 folds for each of 8 candidates, totalling 40 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc
0,aus,tree,1,0.849200,0.800000,0.628410,0.982220,0.577857,0.770974,0.832130,0.793374,0.449633,0.981741,0.514832,0.681811
1,aus,tree,2,0.855000,0.777567,0.853636,0.970000,0.598783,0.724627,0.829432,0.734551,0.492186,0.965026,0.526989,0.687517
2,aus,tree,3,0.842800,0.784884,0.853160,0.981142,0.559332,0.710808,0.829012,0.780864,0.476153,0.978989,0.514916,0.692722
3,aus,tree,4,0.853800,0.823529,0.729849,0.984500,0.623390,0.741199,0.828421,0.801478,0.453656,0.983840,0.539103,0.694818
4,aus,tree,5,0.862200,0.838608,0.867384,0.986869,0.699805,0.793621,0.829980,0.801005,0.497741,0.983756,0.542231,0.700476
5,aus,tree,6,0.856800,0.772182,0.716822,0.975827,0.656448,0.764614,0.823978,0.768040,0.461583,0.976079,0.545628,0.699465
6,aus,tree,7,0.838800,0.775701,0.702997,0.969223,0.696734,0.786406,0.833198,0.735950,0.476605,0.962520,0.515878,0.686018
7,aus,tree,avg,0.851229,0.796067,0.764608,0.978540,0.630336,0.756036,0.829450,0.773609,0.472508,0.975993,0.528511,0.691832
8,aus,log_reg,1,0.853600,0.788591,0.493885,1.000000,0.592217,0.723448,0.844789,0.822835,0.466541,0.999991,0.568289,0.708628
9,aus,log_reg,2,0.854600,0.852665,0.532727,1.000000,0.614256,0.737902,0.842987,0.798091,0.504143,0.999991,0.584528,0.721091
10,aus,log_reg,3,0.851800,0.826568,0.504647,1.000000,0.594417,0.725820,0.841407,0.820193,0.493620,0.999991,0.577177,0.716357
11,aus,log_reg,4,0.851200,0.824607,0.534101,1.000000,0.618462,0.738892,0.843585,0.791807,0.500585,0.999991,0.583539,0.720150
12,aus,log_reg,5,0.852400,0.808333,0.527778,1.000000,0.615465,0.736984,0.843308,0.790698,0.496245,0.999982,0.582311,0.718938
13,aus,log_reg,6,0.853600,0.783607,0.512150,1.000000,0.606530,0.732029,0.843115,0.821936,0.485052,0.999982,0.579321,0.715906
14,aus,log_reg,7,0.847800,0.798635,0.498638,1.000000,0.590640,0.722517,0.843343,0.804531,0.491584,0.999991,0.578968,0.716813
15,aus,log_reg,avg,0.852143,0.811858,0.514846,1.000000,0.604569,0.731085,0.843219,0.807156,0.491110,0.999988,0.579162,0.716840
16,aus,perceptron,1,0.813600,0.576074,0.000000,1.000000,0.515593,0.500000,0.808066,0.581878,0.000000,1.000000,0.504020,0.500000
17,aus,perceptron,2,0.825200,0.704710,1.000000,0.958205,0.417767,0.608648,0.819500,0.668720,1.000000,0.951451,0.416190,0.608385
18,aus,perceptron,3,0.784800,0.000000,0.000000,1.000000,0.000000,0.500000,0.780713,0.000000,0.000000,1.000000,0.000000,0.500000
19,aus,perceptron,4,0.774200,0.000000,0.000000,1.000000,0.000000,0.563072,0.781091,0.000000,0.000000,1.000000,0.000000,0.556308
20,aus,perceptron,5,0.223200,0.000000,0.748208,0.000000,0.552980,0.759433,0.219002,0.000000,0.750366,0.000000,0.544798,0.759386
21,aus,perceptron,6,0.786000,0.214000,0.885047,1.000000,0.352554,0.758681,0.780671,0.219329,0.870192,1.000000,0.359754,0.750847
22,aus,perceptron,7,0.220200,0.220200,0.000000,0.000000,0.507093,0.716482,0.219109,0.219109,0.000000,0.000000,0.513731,0.724962
23,aus,perceptron,avg,0.632457,0.244998,0.376179,0.708315,0.335141,0.629474,0.629736,0.241291,0.374365,0.707350,0.334070,0.628555
24,aus,knn,1,0.848400,0.862745,1.000000,0.998222,1.000000,1.000000,0.815520,0.882158,0.410073,0.998778,0.441787,0.642317
25,aus,knn,2,0.834600,0.938776,1.000000,0.999231,1.000000,1.000000,0.817179,0.891667,0.430419,0.998578,0.457014,0.651626
26,aus,knn,3,0.846200,0.869565,1.000000,0.998981,1.000000,1.000000,0.815677,0.876491,0.419207,0.998878,0.448108,0.646152
27,aus,knn,4,0.847600,0.872549,1.000000,0.996642,1.000000,1.000000,0.819158,0.840574,0.426532,0.996254,0.451479,0.648392
28,aus,knn,5,0.834600,0.910828,1.000000,0.997683,1.000000,1.000000,0.818297,0.870986,0.424954,0.997867,0.452373,0.648848
29,aus,knn,6,0.844000,0.901961,1.000000,0.998728,1.000000,1.000000,0.816047,0.857627,0.407180,0.998468,0.439485,0.640965
30,aus,knn,7,0.840600,0.842105,1.000000,0.997692,1.000000,1.000000,0.817599,0.852248,0.423934,0.997484,0.447889,0.646155
31,aus,knn,avg,0.842286,0.885504,1.000000,0.998168,1.000000,1.000000,0.817068,0.867393,0.420328,0.998044,0.448305,0.646351
32,aus,forest,1,1.000000,0.964286,0.985889,0.992634,1.000000,1.000000,0.842546,0.768806,0.407931,0.966401,0.531031,0.686836
33,aus,forest,2,0.997400,1.000000,1.000000,1.000000,0.994056,0.995455,0.844383,0.739326,0.449069,0.955107,0.558227,0.701768
34,aus,forest,3,0.997800,0.970506,1.000000,0.994139,1.000000,1.000000,0.844226,0.757361,0.431512,0.962703,0.546711,0.694872
35,aus,forest,4,0.966400,0.974607,0.980514,0.994575,0.992414,0.992471,0.843471,0.750217,0.430760,0.960077,0.544868,0.695533
36,aus,forest,5,0.997600,0.955696,0.991039,0.990474,0.994595,0.996416,0.844646,0.744298,0.446962,0.958860,0.556386,0.702460
37,aus,forest,6,0.996400,0.997778,0.984112,0.993893,0.991992,0.990654,0.842902,0.754768,0.420456,0.962427,0.538000,0.690187
38,aus,forest,7,1.000000,0.969613,0.980926,0.993845,0.990371,0.989555,0.843479,0.758293,0.425689,0.962766,0.544592,0.693566
39,aus,forest,avg,0.993657,0.976069,0.988926,0.994223,0.994775,0.994936,0.843665,0.753295,0.430340,0.961192,0.545688,0.695032

In [56]:
# running SVM algorithm on Australian rain dataset, generally take longer time to run than other algorithms combined
aus_results_svm = perform_trials('aus', models_only_svm, aus_X, aus_y)
aus_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits
Fitting 5 folds for each of 24 candidates, totalling 120 fits

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_roc_auc,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_roc_auc
0,aus,svm,1,0.857600,0.808743,0.484478,1.0,0.588915,0.719694,0.845016,0.842434,0.458103,1.0,0.552106,0.697773
1,aus,svm,2,0.859000,0.942529,0.700000,1.0,0.619383,0.737564,0.842510,0.879286,0.472528,1.0,0.574432,0.713079
2,aus,svm,3,0.853400,0.861272,0.471190,1.0,0.572881,0.711767,0.843343,0.860588,0.467550,1.0,0.561399,0.705952
3,aus,svm,4,0.856200,0.895161,0.719221,1.0,0.811189,0.851731,0.843429,0.869990,0.478763,1.0,0.561484,0.707630
4,aus,svm,5,0.855200,0.886667,0.511649,1.0,0.602321,0.728919,0.844867,0.854671,0.480836,1.0,0.569531,0.711297
5,aus,svm,6,0.856000,0.946667,0.490654,1.0,0.590551,0.722045,0.845180,0.902718,0.460610,1.0,0.557750,0.703466
6,aus,svm,7,0.847200,0.854460,0.506812,1.0,0.588918,0.723142,0.844724,0.844099,0.493956,1.0,0.574148,0.715173
7,aus,svm,avg,0.854943,0.885071,0.554858,1.0,0.624880,0.742123,0.844153,0.864827,0.473192,1.0,0.564407,0.707767

In [57]:
# combine results of svm and non-svm algorithms and save as a csv file
aus_final_results = aus_results_no_svm.append(aus_results_svm, ignore_index=True)
aus_final_results.to_csv('results/aus_results.csv', index = False)

### Results of AirBnB Price Dataset

In [22]:
# running algorithms except SVM on airbnb dataset
airbnb_results_no_svm = perform_trials('airbnb', models_without_svm, airbnb_X, airbnb_y)
airbnb_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 656 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 1936 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   15.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:    9.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.9s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   10.5s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1528 tasks      | elapsed:    6.5s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   10.1s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 824 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 2104 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:   13.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    9.0s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.1s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    8.8s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    8.9s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    8.7s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.1s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.8s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1505: UserWarning: Setting penalty='none' will ignore the C and l1_ratio parameters
  "Setting penalty='none' will ignore the C and l1_ratio "
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 253 out of 260 | elapsed:    9.2s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:    9.4s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:330: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.9s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.6s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.5s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.8s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.7s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   14.9s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.5s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   14.8s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   14.7s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.0s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.5s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done 398 out of 405 | elapsed:   15.0s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:   15.3s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   56.0s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   31.6s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.0s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.6s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.5s finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   32.3s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   55.5s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,airbnb,tree,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
1,airbnb,tree,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
2,airbnb,tree,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
3,airbnb,tree,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
4,airbnb,tree,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
5,airbnb,tree,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
6,airbnb,log_reg,1,0.98780,1.000000,0.975373,1.000000,0.987533,0.987687,4.213731e-01,0.988040,1.000000,0.976078,1.000000,0.987894,0.988039,4.130962e-01
7,airbnb,log_reg,2,0.99060,1.000000,0.981033,1.000000,0.990426,0.990517,3.246645e-01,0.987721,0.999580,0.975849,0.999590,0.987572,0.987719,4.241123e-01
8,airbnb,log_reg,3,0.98760,1.000000,0.974684,1.000000,0.987179,0.987342,4.282808e-01,0.989065,1.000000,0.978156,1.000000,0.988957,0.989078,3.776880e-01
9,airbnb,log_reg,4,0.98840,1.000000,0.976585,1.000000,0.988154,0.988292,4.006498e-01,0.989725,1.000000,0.979450,1.000000,0.989618,0.989725,3.548693e-01
10,airbnb,log_reg,5,0.98560,0.991857,0.979100,0.992038,0.985437,0.985569,4.973616e-01,0.985853,0.994203,0.977388,0.994308,0.985724,0.985848,4.886361e-01
11,airbnb,log_reg,avg,0.98800,0.998371,0.977355,0.998408,0.987746,0.987881,4.144660e-01,0.988081,0.998757,0.977384,0.998780,0.987953,0.988082,4.116804e-01
12,airbnb,perceptron,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
13,airbnb,perceptron,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
14,airbnb,perceptron,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
15,airbnb,perceptron,4,0.84940,0.766873,1.000000,0.701546,0.868057,0.850773,5.201660e+00,0.851897,0.771470,1.000000,0.703813,0.870994,0.851907,5.115430e+00
16,airbnb,perceptron,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
17,airbnb,perceptron,avg,0.96988,0.953375,1.000000,0.940309,0.973611,0.970155,1.040332e+00,0.970379,0.954294,1.000000,0.940763,0.974199,0.970381,1.023086e+00
18,airbnb,knn,1,0.99460,0.998779,0.990311,0.998811,0.994527,0.994561,1.865099e-01,0.990318,0.997365,0.983232,0.997403,0.990248,0.990317,3.344122e-01
19,airbnb,knn,2,0.99460,0.998373,0.990718,0.998414,0.994531,0.994566,1.865100e-01,0.990819,0.995857,0.985737,0.995900,0.990771,0.990818,3.171021e-01
20,airbnb,knn,3,0.99480,0.997945,0.991425,0.998040,0.994674,0.994733,1.796024e-01,0.991092,0.996549,0.985619,0.996579,0.991054,0.991099,3.076597e-01
21,airbnb,knn,4,0.99280,0.998774,0.986677,0.998811,0.992689,0.992744,2.486797e-01,0.990978,0.998566,0.983368,0.998588,0.990909,0.990978,3.115931e-01
22,airbnb,knn,5,0.99320,0.997567,0.988746,0.997611,0.993137,0.993179,2.348646e-01,0.990090,0.997041,0.983086,0.997086,0.990014,0.990086,3.422809e-01
23,airbnb,knn,avg,0.99400,0.998288,0.989576,0.998337,0.993912,0.993956,2.072333e-01,0.990660,0.997076,0.984209,0.997111,0.990599,0.990660,3.226096e-01
24,airbnb,forest,1,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
25,airbnb,forest,2,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
26,airbnb,forest,3,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
27,airbnb,forest,4,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,1.573700e-03
28,airbnb,forest,5,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16
29,airbnb,forest,avg,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,9.992007e-16,0.999991,1.000000,0.999982,1.000000,0.999991,0.999991,3.147400e-04

In [23]:
# running SVM algorithm on AirBnB dataset, generally take longer time to run than other algorithms combined
airbnb_results_svm = perform_trials('airbnb', models_only_svm, airbnb_X, airbnb_y)
airbnb_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  39 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   27.2s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   25.6s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    4.1s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   26.3s finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    3.9s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   25.7s finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    4.4s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:   26.2s finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,airbnb,svm,1,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999795,0.999727,0.999863,0.999727,0.999795,0.999795,0.007082
1,airbnb,svm,2,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999704,0.999408,1.000000,0.999408,0.999704,0.999704,0.010229
2,airbnb,svm,3,0.99940,0.998777,1.0,0.998824,0.999388,0.999412,2.072375e-02,0.999271,0.998546,1.000000,0.998540,0.999272,0.999270,0.025180
3,airbnb,svm,4,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999863,0.999863,0.999863,0.999863,0.999863,0.999863,0.004721
4,airbnb,svm,5,1.00000,1.000000,1.0,1.000000,1.000000,1.000000,9.992007e-16,0.999954,1.000000,0.999909,1.000000,0.999954,0.999954,0.001574
5,airbnb,svm,avg,0.99988,0.999755,1.0,0.999765,0.999878,0.999882,4.144749e-03,0.999718,0.999509,0.999927,0.999508,0.999718,0.999717,0.009757

In [24]:
airbnb_final_results = airbnb_results_no_svm.append(airbnb_results_svm, ignore_index=True)
airbnb_final_results.to_csv('results/airbnb_results.csv', index = False)

### Results of Olympic Gold Medal Dataset

In [26]:
# running algorithms except SVM on Olympic dataset
olympic_results_no_svm = perform_trials('olympic', models_without_svm, olympic_X, olympic_y)
olympic_results_no_svm

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 440 tasks      | elapsed:    6.4s
[Parallel(n_jobs=-1)]: Done 1080 tasks      | elapsed:   18.5s
[Parallel(n_jobs=-1)]: Done 1892 tasks      | elapsed:   45.4s
[Parallel(n_jobs=-1)]: Done 2180 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.4min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   20.5s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   36.2s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.2min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   17.9s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   33.9s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.3min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.0s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.8s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   22.2s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   40.2s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.3min finished

Fitting 5 folds for each of 490 candidates, totalling 2450 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    0.7s
[Parallel(n_jobs=-1)]: Done 232 tasks      | elapsed:    3.4s
[Parallel(n_jobs=-1)]: Done 552 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done 1000 tasks      | elapsed:   16.8s
[Parallel(n_jobs=-1)]: Done 1576 tasks      | elapsed:   32.5s
[Parallel(n_jobs=-1)]: Done 2280 tasks      | elapsed:   58.8s
[Parallel(n_jobs=-1)]: Done 2450 out of 2450 | elapsed:  1.1min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.8s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   41.7s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.8min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.9s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   39.8s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   39.9s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.7s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   40.1s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 52 candidates, totalling 260 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    7.6s
[Parallel(n_jobs=-1)]: Done 128 tasks      | elapsed:   40.1s
[Parallel(n_jobs=-1)]: Done 260 out of 260 | elapsed:  1.7min finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.3s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.4s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.7s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    2.8s finished

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    1.2s
[Parallel(n_jobs=-1)]: Done  93 out of 100 | elapsed:    2.9s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    3.0s finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.9s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.6min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   22.9s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.6min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.0s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 81 candidates, totalling 405 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    3.6s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   23.3s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done 405 out of 405 | elapsed:  1.5min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.7min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.6min finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,tree,1,0.95220,0.954655,0.997053,0.096386,0.975394,0.546719,1.650989,0.949827,0.953788,0.995456,0.069974,0.974177,0.532715,1.732942
1,olympic,tree,2,0.95680,0.958232,0.998108,0.144628,0.977764,0.571368,1.492108,0.950081,0.954340,0.995100,0.082620,0.974294,0.538860,1.724185
2,olympic,tree,3,0.95400,0.954911,0.998737,0.104000,0.976333,0.551368,1.588820,0.951000,0.953734,0.996816,0.067460,0.974799,0.532138,1.692422
3,olympic,tree,4,0.95000,0.952678,0.996839,0.074803,0.974259,0.535821,1.726976,0.948853,0.952527,0.995833,0.042469,0.973699,0.519151,1.766595
4,olympic,tree,5,0.96040,0.961701,0.998326,0.140271,0.979671,0.569299,1.367766,0.950568,0.953834,0.996214,0.072994,0.974563,0.534604,1.707359
5,olympic,tree,avg,0.95468,0.956436,0.997813,0.112018,0.976684,0.554915,1.565332,0.950066,0.953645,0.995884,0.067103,0.974306,0.531494,1.724701
6,olympic,log_reg,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
7,olympic,log_reg,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
8,olympic,log_reg,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
9,olympic,log_reg,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
10,olympic,log_reg,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
11,olympic,log_reg,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894
12,olympic,perceptron,1,0.04980,0.000000,0.000000,1.000000,0.000000,0.500000,32.818745,0.049303,0.000000,0.000000,1.000000,0.000000,0.500000,32.835918
13,olympic,perceptron,2,0.92880,0.955694,0.970156,0.115702,0.962870,0.542929,2.459195,0.927110,0.954348,0.969713,0.106196,0.961970,0.537955,2.517581
14,olympic,perceptron,3,0.05000,0.000000,0.000000,1.000000,0.000000,0.500000,32.811838,0.049298,0.000000,0.000000,1.000000,0.000000,0.500000,32.836089
15,olympic,perceptron,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950712,0.950722,0.999990,0.000000,0.974733,0.499995,1.702383
16,olympic,perceptron,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
17,olympic,perceptron,avg,0.58672,0.572139,0.594031,0.423140,0.582842,0.508586,14.274208,0.585396,0.571126,0.593941,0.421239,0.582271,0.507590,14.319935
18,olympic,knn,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
19,olympic,knn,2,0.95180,0.951790,1.000000,0.004132,0.975300,0.502066,1.664808,0.950464,0.950657,0.999786,0.000101,0.974603,0.499943,1.710968
20,olympic,knn,3,0.95180,0.951894,0.999789,0.040000,0.975254,0.519895,1.664807,0.948853,0.950867,0.997757,0.005748,0.973748,0.501752,1.766596
21,olympic,knn,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
22,olympic,knn,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950518,0.950556,0.999958,0.000000,0.974631,0.499979,1.709079
23,olympic,knn,avg,0.95176,0.951777,0.999958,0.008826,0.975271,0.504392,1.666189,0.950251,0.950700,0.999500,0.001170,0.974489,0.500335,1.718316
24,olympic,forest,1,0.96000,0.959604,1.000000,0.196787,0.979386,0.598394,1.381583,0.951115,0.952174,0.998745,0.032668,0.974904,0.515706,1.688475
25,olympic,forest,2,0.95940,0.959081,1.000000,0.161157,0.979113,0.580579,1.402307,0.951696,0.952394,0.999132,0.037683,0.975203,0.518407,1.668386
26,olympic,forest,3,0.97060,0.969982,1.000000,0.412000,0.984762,0.706000,1.015464,0.951353,0.952849,0.998227,0.047393,0.975010,0.522810,1.680233
27,olympic,forest,4,0.99940,0.999368,1.000000,0.988189,0.999684,0.994094,0.020724,0.949226,0.953053,0.995639,0.053768,0.973881,0.524704,1.753717
28,olympic,forest,5,0.96180,0.961755,0.999791,0.140271,0.980404,0.570031,1.319412,0.951498,0.951803,0.999592,0.026845,0.975112,0.513219,1.675255
29,olympic,forest,avg,0.97024,0.969958,0.999958,0.379681,0.984670,0.689820,1.027898,0.950978,0.952454,0.998267,0.039671,0.974822,0.518969,1.693213

In [27]:
# running SVM algorithm on the Olympic dataset, generally take longer time to run than other algorithms combined
olympic_results_svm = perform_trials('olympic', models_only_svm, olympic_X, olympic_y)
olympic_results_svm

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   17.4s
/Users/melchisedec/opt/anaconda3/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.2min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   19.0s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   18.0s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.1min finished

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   15.5s
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  2.0min finished

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,svm,1,0.95020,0.95020,1.0,0.0,0.974464,0.5,1.720071,0.950697,0.950697,1.0,0.0,0.974726,0.5,1.702898
1,olympic,svm,2,0.95160,0.95160,1.0,0.0,0.975200,0.5,1.671715,0.950662,0.950662,1.0,0.0,0.974707,0.5,1.704100
2,olympic,svm,3,0.95000,0.95000,1.0,0.0,0.974359,0.5,1.726979,0.950702,0.950702,1.0,0.0,0.974728,0.5,1.702726
3,olympic,svm,4,0.94920,0.94920,1.0,0.0,0.973938,0.5,1.754610,0.950722,0.950722,1.0,0.0,0.974739,0.5,1.702040
4,olympic,svm,5,0.95580,0.95580,1.0,0.0,0.977401,0.5,1.526649,0.950558,0.950558,1.0,0.0,0.974652,0.5,1.707706
5,olympic,svm,avg,0.95136,0.95136,1.0,0.0,0.975072,0.5,1.680005,0.950668,0.950668,1.0,0.0,0.974710,0.5,1.703894

In [28]:
olympic_final_results = olympic_results_no_svm.append(olympic_results_svm, ignore_index=True)
olympic_final_results.to_csv('results/olympic_results.csv', index = False)

In [29]:
# display performance
pd.read_csv('results/olympic_results.csv')

,dataset,model,trial,train_accuracy,train_precision,train_recall,train_specificity,train_f1,train_auc,train_logloss,test_accuracy,test_precision,test_recall,test_specificity,test_f1,test_auc,test_logloss
0,olympic,tree,1,0.95220,0.954655,0.997053,0.096386,0.975394,0.546719,1.650989,0.949827,0.953788,0.995456,0.069974,0.974177,0.532715,1.732942
1,olympic,tree,2,0.95680,0.958232,0.998108,0.144628,0.977764,0.571368,1.492108,0.950081,0.954340,0.995100,0.082620,0.974294,0.538860,1.724185
2,olympic,tree,3,0.95400,0.954911,0.998737,0.104000,0.976333,0.551368,1.588820,0.951000,0.953734,0.996816,0.067460,0.974799,0.532138,1.692422
3,olympic,tree,4,0.95000,0.952678,0.996839,0.074803,0.974259,0.535821,1.726976,0.948853,0.952527,0.995833,0.042469,0.973699,0.519151,1.766595
4,olympic,tree,5,0.96040,0.961701,0.998326,0.140271,0.979671,0.569299,1.367766,0.950568,0.953834,0.996214,0.072994,0.974563,0.534604,1.707359
5,olympic,tree,avg,0.95468,0.956436,0.997813,0.112018,0.976684,0.554915,1.565332,0.950066,0.953645,0.995884,0.067103,0.974306,0.531494,1.724701
6,olympic,log_reg,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
7,olympic,log_reg,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
8,olympic,log_reg,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
9,olympic,log_reg,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
10,olympic,log_reg,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
11,olympic,log_reg,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894
12,olympic,perceptron,1,0.04980,0.000000,0.000000,1.000000,0.000000,0.500000,32.818745,0.049303,0.000000,0.000000,1.000000,0.000000,0.500000,32.835918
13,olympic,perceptron,2,0.92880,0.955694,0.970156,0.115702,0.962870,0.542929,2.459195,0.927110,0.954348,0.969713,0.106196,0.961970,0.537955,2.517581
14,olympic,perceptron,3,0.05000,0.000000,0.000000,1.000000,0.000000,0.500000,32.811838,0.049298,0.000000,0.000000,1.000000,0.000000,0.500000,32.836089
15,olympic,perceptron,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950712,0.950722,0.999990,0.000000,0.974733,0.499995,1.702383
16,olympic,perceptron,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
17,olympic,perceptron,avg,0.58672,0.572139,0.594031,0.423140,0.582842,0.508586,14.274208,0.585396,0.571126,0.593941,0.421239,0.582271,0.507590,14.319935
18,olympic,knn,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
19,olympic,knn,2,0.95180,0.951790,1.000000,0.004132,0.975300,0.502066,1.664808,0.950464,0.950657,0.999786,0.000101,0.974603,0.499943,1.710968
20,olympic,knn,3,0.95180,0.951894,0.999789,0.040000,0.975254,0.519895,1.664807,0.948853,0.950867,0.997757,0.005748,0.973748,0.501752,1.766596
21,olympic,knn,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
22,olympic,knn,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950518,0.950556,0.999958,0.000000,0.974631,0.499979,1.709079
23,olympic,knn,avg,0.95176,0.951777,0.999958,0.008826,0.975271,0.504392,1.666189,0.950251,0.950700,0.999500,0.001170,0.974489,0.500335,1.718316
24,olympic,forest,1,0.96000,0.959604,1.000000,0.196787,0.979386,0.598394,1.381583,0.951115,0.952174,0.998745,0.032668,0.974904,0.515706,1.688475
25,olympic,forest,2,0.95940,0.959081,1.000000,0.161157,0.979113,0.580579,1.402307,0.951696,0.952394,0.999132,0.037683,0.975203,0.518407,1.668386
26,olympic,forest,3,0.97060,0.969982,1.000000,0.412000,0.984762,0.706000,1.015464,0.951353,0.952849,0.998227,0.047393,0.975010,0.522810,1.680233
27,olympic,forest,4,0.99940,0.999368,1.000000,0.988189,0.999684,0.994094,0.020724,0.949226,0.953053,0.995639,0.053768,0.973881,0.524704,1.753717
28,olympic,forest,5,0.96180,0.961755,0.999791,0.140271,0.980404,0.570031,1.319412,0.951498,0.951803,0.999592,0.026845,0.975112,0.513219,1.675255
29,olympic,forest,avg,0.97024,0.969958,0.999958,0.379681,0.984670,0.689820,1.027898,0.950978,0.952454,0.998267,0.039671,0.974822,0.518969,1.693213
30,olympic,svm,1,0.95020,0.950200,1.000000,0.000000,0.974464,0.500000,1.720071,0.950697,0.950697,1.000000,0.000000,0.974726,0.500000,1.702898
31,olympic,svm,2,0.95160,0.951600,1.000000,0.000000,0.975200,0.500000,1.671715,0.950662,0.950662,1.000000,0.000000,0.974707,0.500000,1.704100
32,olympic,svm,3,0.95000,0.950000,1.000000,0.000000,0.974359,0.500000,1.726979,0.950702,0.950702,1.000000,0.000000,0.974728,0.500000,1.702726
33,olympic,svm,4,0.94920,0.949200,1.000000,0.000000,0.973938,0.500000,1.754610,0.950722,0.950722,1.000000,0.000000,0.974739,0.500000,1.702040
34,olympic,svm,5,0.95580,0.955800,1.000000,0.000000,0.977401,0.500000,1.526649,0.950558,0.950558,1.000000,0.000000,0.974652,0.500000,1.707706
35,olympic,svm,avg,0.95136,0.951360,1.000000,0.000000,0.975072,0.500000,1.680005,0.950668,0.950668,1.000000,0.000000,0.974710,0.500000,1.703894

## output tables

In [125]:
datasets = ['CARDIO', 'AUS', 'CHESS', 'SHROOMS', 'AIRBNB', 'OLYMPIC']

In [126]:
# combine datasets
cardio_results = pd.read_csv('results/cardio_results.csv')

aus_results = pd.read_csv('results/aus_results.csv')

olympic_results = pd.read_csv('results/olympic_results.csv')

airbnb_results = pd.read_csv('results/airbnb_results.csv')

shrooms_results = pd.read_csv('results/shrooms_results.csv')

chess_results = pd.read_csv('results/chess_results.csv')


results = cardio_results.append([aus_results, airbnb_results, shrooms_results,
                                 chess_results, olympic_results], ignore_index = True)

In [129]:
train_metrics = ["TRAIN_" + x for x in list(scoring.keys())]
test_metrics = ["TEST_" + x for x in list(scoring.keys())]

In [130]:
test_avg_results = results.loc[results['TRIAL'] == 'avg', ['DATASET', 'MODEL', 'TRIAL'] + test_metrics]
test_avg_results = test_avg_results.reset_index(drop = True)

In [131]:
test_results = results.loc[results['TRIAL'] != 'avg', ['DATASET', 'MODEL', 'TRIAL'] + test_metrics]
test_results = test_results.reset_index(drop = True)

In [132]:
train_avg_results = results.loc[results['TRIAL'] == 'avg', ['DATASET', 'MODEL', 'TRIAL'] + train_metrics]
train_avg_results = train_avg_results.reset_index(drop = True)

In [133]:
train_results = results.loc[results['TRIAL'] != 'avg', ['DATASET', 'MODEL', 'TRIAL'] + train_metrics]
train_results = train_results.reset_index(drop = True)

#### Table 1 - Dataset Description

In [134]:
table1 = pd.DataFrame(columns = ['Name', '#ATTR', 'TRAIN SIZE', 'TEST SIZE', '%POS'])
table1['Name'] = np.array(datasets)
table1['#ATTR'] = np.array(['11', '22', '9/15', '22', '7/15', '6/14'])
table1['TRAIN SIZE'] = np.array([5000] * 6)
table1['TEST SIZE'] = ['65000', '140460', '15058', '3124', '43895', '25181']
table1['%POS'] = ['49.97%', '21.9146%', '49.8604%', '48.2%', '49.95%', '33.69%']

In [135]:
table1

      Name #ATTR  TRAIN SIZE TEST SIZE      %POS
0   CARDIO    11        5000     65000    49.97%
1      AUS    22        5000    140460  21.9146%
2    CHESS  9/15        5000     15058  49.8604%
3  SHROOMS    22        5000      3124     48.2%
4   AIRBNB  7/15        5000     43895    49.95%
5  OLYMPIC  6/14        5000     25181    33.69%

In [136]:
table1.to_csv('results/table1.csv', index = False)
pd.read_csv('results/table1.csv')

      Name #ATTR  TRAIN SIZE  TEST SIZE      %POS
0   CARDIO    11        5000      65000    49.97%
1      AUS    22        5000     140460  21.9146%
2    CHESS  9/15        5000      15058  49.8604%
3  SHROOMS    22        5000       3124     48.2%
4   AIRBNB  7/15        5000      43895    49.95%
5  OLYMPIC  6/14        5000      25181    33.69%

#### Table 2 - Model & Metrics (test avg trials & datasets)

In [137]:
table2 = test_avg_results.groupby(by='MODEL').mean()
table2['MEAN'] = table2.mean(axis = 1)
table2 = table2.reset_index()
table2

,MODEL,TEST_ACC,TEST_PREC,TEST_REC,TEST_SPEC,TEST_F1,TEST_ROC,MEAN
0,DT,0.783277,0.800428,0.698014,0.883093,0.690094,0.742250,0.766192
1,KNN,0.768266,0.759028,0.678289,0.850243,0.673057,0.726480,0.742560
2,LOGREG,0.782066,0.752993,0.632982,0.886029,0.657502,0.736934,0.741418
3,PERC,0.701554,0.613989,0.615241,0.761425,0.579136,0.678610,0.658326
4,RF,0.793308,0.764779,0.669086,0.850390,0.699296,0.752849,0.754951
5,SVM,0.790895,0.806914,0.748617,0.963586,0.706468,0.754641,0.795187

In [138]:
table2.to_csv('results/table2.csv', index = False)
pd.read_csv('results/table2.csv')

,MODEL,TEST_ACC,TEST_PREC,TEST_REC,TEST_SPEC,TEST_F1,TEST_ROC,MEAN
0,DT,0.783277,0.800428,0.698014,0.883093,0.690094,0.742250,0.766192
1,KNN,0.768266,0.759028,0.678289,0.850243,0.673057,0.726480,0.742560
2,LOGREG,0.782066,0.752993,0.632982,0.886029,0.657502,0.736934,0.741418
3,PERC,0.701554,0.613989,0.615241,0.761425,0.579136,0.678610,0.658326
4,RF,0.793308,0.764779,0.669086,0.850390,0.699296,0.752849,0.754951
5,SVM,0.790895,0.806914,0.748617,0.963586,0.706468,0.754641,0.795187

#### Appendix 3 - P values of Table 2 ( Model & Metrics (test avg trials & datasets) )

In [139]:
best_models = table2.set_index('MODEL').idxmax()

In [140]:
tl2_pvals = pd.DataFrame(columns = ['MODEL'] + test_metrics + ['MEAN'])
tl2_pvals['MODEL'] = table2['MODEL']

In [141]:
for metric in test_metrics:
    best_model = best_models[metric]
    grp = test_results.groupby(by='MODEL')
    for model in models:
        dist1 = grp.get_group(best_model)[metric].tolist()
        dist2 = grp.get_group(model)[metric].tolist()
        pval = stats.ttest_ind(dist1, dist2).pvalue
        tl2_pvals.loc[tl2_pvals['MODEL'] == model, metric] = pval
    tl2_pvals[metric] = tl2_pvals[metric].astype('float64')

In [142]:
for model in models:
    best_model = best_models['MEAN']
    dist1 = table2.loc[table2['MODEL'] == best_model, test_metrics].iloc[0].tolist()
    dist2 = table2.loc[table2['MODEL'] == model, test_metrics].iloc[0].tolist()
    pval = stats.ttest_ind(dist1, dist2).pvalue
    tl2_pvals.loc[tl2_pvals['MODEL'] == model, 'MEAN'] = pval
tl2_pvals['MEAN'] = tl2_pvals['MEAN'].astype('float64')

In [143]:
tl2_pvals

,MODEL,TEST_ACC,TEST_PREC,TEST_REC,TEST_SPEC,TEST_F1,TEST_ROC,MEAN
0,DT,0.696592,0.800221,0.315647,0.002014,0.687457,0.674781,0.551291
1,KNN,0.354139,0.117555,0.153632,0.000137,0.416928,0.351340,0.273719
2,LOGREG,0.667217,0.089935,0.074958,0.051738,0.316641,0.565281,0.327170
3,PERC,0.007785,0.000115,0.050094,0.000078,0.017409,0.024818,0.013765
4,RF,1.000000,0.125360,0.123967,0.000015,0.858790,0.950381,0.394504
5,SVM,0.924287,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [144]:
tl2_pvals.to_csv('results/tl2_pvals.csv', index = False)
pd.read_csv('results/tl2_pvals.csv')

,MODEL,TEST_ACC,TEST_PREC,TEST_REC,TEST_SPEC,TEST_F1,TEST_ROC,MEAN
0,DT,0.696592,0.800221,0.315647,0.002014,0.687457,0.674781,0.551291
1,KNN,0.354139,0.117555,0.153632,0.000137,0.416928,0.351340,0.273719
2,LOGREG,0.667217,0.089935,0.074958,0.051738,0.316641,0.565281,0.327170
3,PERC,0.007785,0.000115,0.050094,0.000078,0.017409,0.024818,0.013765
4,RF,1.000000,0.125360,0.123967,0.000015,0.858790,0.950381,0.394504
5,SVM,0.924287,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

#### Table 3 - Model & Dataset (test avg trials & metrics)

In [145]:
table3 = pd.DataFrame(columns = ['MODEL'] + datasets + ['MEAN'])
table3['MODEL'] = models

In [146]:
for data in datasets:
    for model in models:
        score = test_avg_results.loc[(test_avg_results['MODEL'] == model) &
                                     (test_avg_results['DATASET'] == data)][test_metrics].mean(axis = 1).tolist()[0]
        table3.loc[table3['MODEL'] == model, data] = score
    table3[data] = table3[data].astype('float64')
table3['MEAN'] = table3[datasets].mean(axis = 1)
table3

,MODEL,CARDIO,AUS,CHESS,SHROOMS,AIRBNB,OLYMPIC,MEAN
0,DT,0.739188,0.711984,0.679259,0.999774,0.825712,0.641237,0.766192
1,KNN,0.666772,0.699582,0.634543,1.000000,0.829761,0.624705,0.742560
2,LOGREG,0.714271,0.739579,0.675994,1.000000,0.827292,0.491369,0.741418
3,PERC,0.655749,0.485895,0.582336,0.999883,0.684399,0.541694,0.658326
4,RF,0.728808,0.704868,0.663366,1.000000,0.832898,0.599768,0.754951
5,SVM,0.795096,0.742391,0.729506,1.000000,0.868146,0.635981,0.795187

In [147]:
table3.to_csv('results/table3.csv', index = False)
pd.read_csv('results/table3.csv')

,MODEL,CARDIO,AUS,CHESS,SHROOMS,AIRBNB,OLYMPIC,MEAN
0,DT,0.739188,0.711984,0.679259,0.999774,0.825712,0.641237,0.766192
1,KNN,0.666772,0.699582,0.634543,1.000000,0.829761,0.624705,0.742560
2,LOGREG,0.714271,0.739579,0.675994,1.000000,0.827292,0.491369,0.741418
3,PERC,0.655749,0.485895,0.582336,0.999883,0.684399,0.541694,0.658326
4,RF,0.728808,0.704868,0.663366,1.000000,0.832898,0.599768,0.754951
5,SVM,0.795096,0.742391,0.729506,1.000000,0.868146,0.635981,0.795187

#### Appendix 3 - P values of Table 3 ( Model & Dataset (test avg trials & metrics) )

In [148]:
best_models = table3.set_index('MODEL').idxmax()

In [149]:
tl3_pvals = pd.DataFrame(columns = ['MODEL'] + datasets + ['MEAN'])
tl3_pvals['MODEL'] = models

In [150]:
grp = test_results.groupby(by=['MODEL', 'DATASET'])
for data in datasets:
    best_model = best_models[data]
    for model in models:
        dist1 = grp.get_group((best_model, data))[test_metrics].values.flatten()
        dist2 = grp.get_group((model, data))[test_metrics].values.flatten()
        pval = stats.ttest_ind(dist1, dist2).pvalue
        tl3_pvals.loc[tl3_pvals['MODEL'] == model, data] = pval
    tl3_pvals[data] = tl3_pvals[data].astype('float64')

In [151]:
for model in models:
    best_model = best_models['MEAN']
    dist1 = table3.loc[table3['MODEL'] == best_model, datasets].iloc[0].tolist()
    dist2 = table3.loc[table3['MODEL'] == model, datasets].iloc[0].tolist()
    pval = stats.ttest_ind(dist1, dist2).pvalue
    tl3_pvals.loc[tl3_pvals['MODEL'] == model, 'MEAN'] = pval
tl3_pvals['MEAN'] = tl3_pvals['MEAN'].astype('float64')

In [152]:
tl3_pvals

,MODEL,CARDIO,AUS,CHESS,SHROOMS,AIRBNB,OLYMPIC,MEAN
0,DT,2.417368e-03,0.439951,0.040054,0.028161,1.426333e-04,1.000000,0.703738
1,KNN,7.965780e-11,0.331824,0.000012,NaN,4.928899e-04,0.699824,0.519854
2,LOGREG,2.331690e-02,0.942313,0.053629,NaN,9.782886e-02,0.011458,0.545491
3,PERC,9.214726e-04,0.000102,0.000030,0.007619,2.208079e-09,0.046378,0.161766
4,RF,1.191210e-04,0.346393,0.001136,NaN,1.167387e-03,0.354726,0.616209
5,SVM,1.000000e+00,1.000000,1.000000,NaN,1.000000e+00,0.907375,1.000000

In [153]:
tl3_pvals.to_csv('results/tl3_pvals.csv', index = False)
pd.read_csv('results/tl3_pvals.csv')

,MODEL,CARDIO,AUS,CHESS,SHROOMS,AIRBNB,OLYMPIC,MEAN
0,DT,2.417368e-03,0.439951,0.040054,0.028161,1.426333e-04,1.000000,0.703738
1,KNN,7.965780e-11,0.331824,0.000012,NaN,4.928899e-04,0.699824,0.519854
2,LOGREG,2.331690e-02,0.942313,0.053629,NaN,9.782886e-02,0.011458,0.545491
3,PERC,9.214726e-04,0.000102,0.000030,0.007619,2.208079e-09,0.046378,0.161766
4,RF,1.191210e-04,0.346393,0.001136,NaN,1.167387e-03,0.354726,0.616209
5,SVM,1.000000e+00,1.000000,1.000000,NaN,1.000000e+00,0.907375,1.000000

#### Appendix 1 - Model & Metrics (train avg trials & datasets)

In [154]:
appendix1 = train_avg_results.groupby(by='MODEL').mean()
appendix1['MEAN'] = appendix1.mean(axis = 1)
appendix1 = appendix1.reset_index()
appendix1

,MODEL,TRAIN_ACC,TRAIN_PREC,TRAIN_REC,TRAIN_SPEC,TRAIN_F1,TRAIN_ROC,MEAN
0,DT,0.801410,0.821938,0.816756,0.906471,0.773649,0.800073,0.820049
1,KNN,0.786957,0.781165,0.872633,0.879235,0.861624,0.842512,0.837354
2,LOGREG,0.786262,0.770186,0.639267,0.887305,0.667421,0.744131,0.749095
3,PERC,0.705890,0.622589,0.619338,0.764205,0.583095,0.683130,0.663041
4,RF,0.925290,0.934050,0.955250,0.955693,0.948712,0.949518,0.944752
5,SVM,0.813976,0.845974,0.813235,0.980515,0.771450,0.799586,0.837456

In [155]:
appendix1.to_csv('results/appendix1.csv', index = False)
pd.read_csv('results/appendix1.csv')

,MODEL,TRAIN_ACC,TRAIN_PREC,TRAIN_REC,TRAIN_SPEC,TRAIN_F1,TRAIN_ROC,MEAN
0,DT,0.801410,0.821938,0.816756,0.906471,0.773649,0.800073,0.820049
1,KNN,0.786957,0.781165,0.872633,0.879235,0.861624,0.842512,0.837354
2,LOGREG,0.786262,0.770186,0.639267,0.887305,0.667421,0.744131,0.749095
3,PERC,0.705890,0.622589,0.619338,0.764205,0.583095,0.683130,0.663041
4,RF,0.925290,0.934050,0.955250,0.955693,0.948712,0.949518,0.944752
5,SVM,0.813976,0.845974,0.813235,0.980515,0.771450,0.799586,0.837456

#### Appendix 3 -  P value of appendix 1 ( Model & Metrics (train avg trials & datasets) )

In [156]:
best_models = appendix1.set_index('MODEL').idxmax()

appendix1_pvals = pd.DataFrame(columns = ['MODEL'] + train_metrics + ['MEAN'])
appendix1_pvals['MODEL'] = appendix1['MODEL']

for metric in train_metrics:
    best_model = best_models[metric]
    grp = train_results.groupby(by='MODEL')
    for model in models:
        dist1 = grp.get_group(best_model)[metric].tolist()
        dist2 = grp.get_group(model)[metric].tolist()
        pval = stats.ttest_ind(dist1, dist2).pvalue
        appendix1_pvals.loc[appendix1_pvals['MODEL'] == model, metric] = pval
    appendix1_pvals[metric] = appendix1_pvals[metric].astype('float64')

In [157]:
for model in models:
    best_model = best_models['MEAN']
    dist1 = appendix1.loc[appendix1['MODEL'] == best_model, train_metrics].iloc[0].tolist()
    dist2 = appendix1.loc[appendix1['MODEL'] == model, train_metrics].iloc[0].tolist()
    pval = stats.ttest_ind(dist1, dist2).pvalue
    appendix1_pvals.loc[appendix1_pvals['MODEL'] == model, 'MEAN'] = pval
appendix1_pvals['MEAN'] = appendix1_pvals['MEAN'].astype('float64')
appendix1_pvals

,MODEL,TRAIN_ACC,TRAIN_PREC,TRAIN_REC,TRAIN_SPEC,TRAIN_F1,TRAIN_ROC,MEAN
0,DT,8.287021e-08,1.701569e-08,1.853618e-10,0.000322,5.985106e-12,1.361701e-11,0.000072
1,KNN,2.040673e-08,6.789643e-09,5.382399e-04,0.000018,6.427847e-04,4.332876e-05,0.000159
2,LOGREG,1.854892e-08,3.371046e-10,3.695047e-08,0.015201,3.854539e-10,1.250001e-12,0.000334
3,PERC,3.257160e-10,4.448309e-10,6.357903e-08,0.000015,6.634743e-12,6.718829e-15,0.000001
4,RF,1.000000e+00,1.000000e+00,1.000000e+00,0.054564,1.000000e+00,1.000000e+00,1.000000
5,SVM,2.842700e-07,1.015314e-05,4.506495e-06,1.000000,8.881075e-12,7.155815e-11,0.005747

In [158]:
appendix1_pvals.to_csv('results/appendix1_pvals.csv', index = False)
pd.read_csv('results/appendix1_pvals.csv')

,MODEL,TRAIN_ACC,TRAIN_PREC,TRAIN_REC,TRAIN_SPEC,TRAIN_F1,TRAIN_ROC,MEAN
0,DT,8.287021e-08,1.701569e-08,1.853618e-10,0.000322,5.985106e-12,1.361701e-11,0.000072
1,KNN,2.040673e-08,6.789643e-09,5.382399e-04,0.000018,6.427847e-04,4.332876e-05,0.000159
2,LOGREG,1.854892e-08,3.371046e-10,3.695047e-08,0.015201,3.854539e-10,1.250001e-12,0.000334
3,PERC,3.257160e-10,4.448309e-10,6.357903e-08,0.000015,6.634743e-12,6.718829e-15,0.000001
4,RF,1.000000e+00,1.000000e+00,1.000000e+00,0.054564,1.000000e+00,1.000000e+00,1.000000
5,SVM,2.842700e-07,1.015314e-05,4.506495e-06,1.000000,8.881075e-12,7.155815e-11,0.005747

#### Appendix 2

In [160]:
test_results.to_csv('results/appendix2.csv', index = False)
pd.read_csv('results/appendix2.csv')

,DATASET,MODEL,TRIAL,TEST_ACC,TEST_PREC,TEST_REC,TEST_SPEC,TEST_F1,TEST_ROC
0,CARDIO,DT,1,0.718092,0.760048,0.651762,0.803292,0.698032,0.718082
1,CARDIO,DT,2,0.716569,0.823521,0.757578,0.888329,0.717287,0.716578
2,CARDIO,DT,3,0.723985,0.753861,0.691874,0.803083,0.711474,0.723870
3,CARDIO,DT,4,0.724569,0.761494,0.689312,0.797068,0.713895,0.724521
4,CARDIO,DT,5,0.726877,0.775533,0.706000,0.803805,0.711856,0.726788
5,CARDIO,DT,6,0.731446,0.761724,0.673020,0.804416,0.720963,0.731479
6,CARDIO,DT,7,0.722631,0.772991,0.659143,0.811395,0.695081,0.722577
7,CARDIO,LOGREG,1,0.726646,0.757817,0.000000,1.000000,0.708874,0.726637
8,CARDIO,LOGREG,2,0.647785,0.649235,1.000000,0.661212,0.681556,0.647767
9,CARDIO,LOGREG,3,0.726769,0.747150,1.000000,0.769117,0.714479,0.726690
10,CARDIO,LOGREG,4,0.649785,0.656718,1.000000,0.673785,0.669713,0.649753
11,CARDIO,LOGREG,5,0.725615,0.744387,1.000000,1.000000,0.713106,0.725577
12,CARDIO,LOGREG,6,0.725308,0.759396,0.660293,0.000000,0.706385,0.725364
13,CARDIO,LOGREG,7,0.665477,0.679728,0.660621,1.000000,0.651181,0.665448
14,CARDIO,PERC,1,0.658831,0.820899,0.930943,0.645531,0.682359,0.658796
15,CARDIO,PERC,2,0.532185,0.827289,1.000000,0.975099,0.674746,0.533118
16,CARDIO,PERC,3,0.713646,0.765788,0.000000,0.764572,0.000000,0.713475
17,CARDIO,PERC,4,0.523138,0.806657,0.686447,0.411917,0.687096,0.523739
18,CARDIO,PERC,5,0.499677,0.823896,0.000000,0.962624,0.655747,0.500197
19,CARDIO,PERC,6,0.714185,0.761628,0.981616,0.804293,0.686119,0.714262
20,CARDIO,PERC,7,0.584415,0.765193,0.712289,0.945946,0.308886,0.584213
21,CARDIO,KNN,1,0.662446,0.682355,0.608432,0.749792,0.642847,0.662438
22,CARDIO,KNN,2,0.664385,0.674974,0.631371,0.696583,0.652445,0.664315
23,CARDIO,KNN,3,0.662262,0.685064,0.629046,0.719796,0.650257,0.662198
24,CARDIO,KNN,4,0.661662,0.679177,0.620513,0.718158,0.641689,0.661595
25,CARDIO,KNN,5,0.663508,0.677895,0.630013,0.714237,0.646774,0.663464
26,CARDIO,KNN,6,0.660585,0.700069,0.593427,0.758407,0.628160,0.660660
27,CARDIO,KNN,7,0.665154,0.693144,0.616159,0.737847,0.645988,0.665116
28,CARDIO,RF,1,0.729569,0.737915,0.711433,0.746347,0.723388,0.729567
29,CARDIO,RF,2,0.727492,0.733568,0.712744,0.744266,0.721142,0.727279
...,...,...,...,...,...,...,...,...,...
222,OLYMPIC,LOGREG,6,0.666296,0.406470,0.105677,1.000000,0.167326,0.513412
223,OLYMPIC,LOGREG,7,0.662206,0.507772,0.093600,1.000000,0.156998,0.521227
224,OLYMPIC,PERC,1,0.660657,0.391586,0.044470,1.000000,0.079357,0.500000
225,OLYMPIC,PERC,2,0.573528,0.340818,0.705986,0.727164,0.476839,0.534005
226,OLYMPIC,PERC,3,0.662166,0.431663,0.545316,1.000000,0.434343,0.517851
227,OLYMPIC,PERC,4,0.665025,0.340395,0.310492,1.000000,0.324757,0.503717
228,OLYMPIC,PERC,5,0.656725,0.322523,0.475565,0.886713,0.387861,0.522400
229,OLYMPIC,PERC,6,0.666296,0.369526,0.362609,1.000000,0.368106,0.503506
230,OLYMPIC,PERC,7,0.661848,0.319138,0.542807,1.000000,0.431056,0.504322
231,OLYMPIC,KNN,1,0.674914,0.583777,0.445173,0.981185,0.451621,0.587428
232,OLYMPIC,KNN,2,0.670545,0.563249,0.490455,0.972028,0.478418,0.598258
233,OLYMPIC,KNN,3,0.674040,0.551143,0.463971,0.964915,0.459916,0.595294
234,OLYMPIC,KNN,4,0.676780,0.547575,0.491761,0.958199,0.472868,0.598500
235,OLYMPIC,KNN,5,0.671419,0.612091,0.469237,0.984142,0.464097,0.592920
236,OLYMPIC,KNN,6,0.677693,0.546531,0.494823,0.959352,0.473361,0.598198
237,OLYMPIC,KNN,7,0.677932,0.561898,0.475279,0.971979,0.463760,0.590904
238,OLYMPIC,RF,1,0.686907,0.631283,0.313868,0.944458,0.398332,0.590893
239,OLYMPIC,RF,2,0.696438,0.622345,0.362951,0.923270,0.431084,0.601896
240,OLYMPIC,RF,3,0.692546,0.622344,0.339720,0.928092,0.420153,0.598316
241,OLYMPIC,RF,4,0.697470,0.611570,0.370124,0.913830,0.441981,0.608774
242,OLYMPIC,RF,5,0.690997,0.619098,0.331771,0.935187,0.415645,0.595861
243,OLYMPIC,RF,6,0.689568,0.582102,0.366060,0.910061,0.433471,0.599707
244,OLYMPIC,RF,7,0.692308,0.616250,0.329536,0.934237,0.409556,0.590212
245,OLYMPIC,SVM,1,0.686152,0.713287,0.359743,1.000000,0.426559,0.595897
246,OLYMPIC,SVM,2,0.686669,0.614887,0.439665,1.000000,0.474350,0.614592
247,OLYMPIC,SVM,3,0.687383,0.643204,0.398730,1.000000,0.450405,0.602818
248,OLYMPIC,SVM,4,0.682975,0.689655,0.431061,1.000000,0.470741,0.611167
249,OLYMPIC,SVM,5,0.683293,0.694631,0.390718,1.000000,0.445722,0.602465
250,OLYMPIC,SVM,6,0.681347,0.614243,0.440795,1.000000,0.469574,0.608762
251,OLYMPIC,SVM,7,0.690759,0.678082,0.398591,1.000000,0.439296,0.593001